<div class="container">
  <div class="row">
    <h4>
      Result is: <span ng-bind="result">0</span>
    </h4>
    <input type="text" readonly value="0" ng-value="currentNumber"/>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <span class="col-md-4" data-digit data-digit-entered="digitEntered(1)">1</span>
        <span class="col-md-4" data-digit data-digit-entered="digitEntered(2)">2</span>
        <span class="col-md-4" data-digit data-digit-entered="digitEntered(3)">3</span>
      </div>
      <div class="row">
        <span class="col-md-4" data-digit data-digit-entered="digitEntered(4)">4</span>
        <span class="col-md-4" data-digit data-digit-entered="digitEntered(5)">5</span>
        <span class="col-md-4" data-digit data-digit-entered="digitEntered(6)">6</span>
      </div>
      <div class="row">
        <span class="col-md-4 "data-digit data-digit-entered="digitEntered(7)">7</span>
        <span class="col-md-4"data-digit data-digit-entered="digitEntered(8)">8</span>
        <span class="col-md-4"data-digit data-digit-entered="digitEntered(9)">9</span>
      </div>
      <div class="row">
        <span class="col-md-4"data-digit data-digit-entered="digitEntered(0)">0</span>
        <span class="col-md-4" data-operation data-triggered-operation="operationEntered('equality')">=</span>
        <span class="col-md-4"><button  ng-click="reset()">Res</button></span>
      </div>
    </div>
    <div class="col-md-2">
      <div>
        <span type="button" data-operation data-triggered-operation="operationEntered('addition')">+</span>
        <span type="button" data-operation data-triggered-operation="operationEntered('subtraction')">-</span>
        <span type="button" data-operation data-triggered-operation="operationEntered('multiplication')">*</span>
        <span type="button" data-operation data-triggered-operation="operationEntered('division')">/</span>
      </div>
    </div>
  </div>
  <div class="row">
    <button class="col-md-3" type="button" ng-click="convertCurrency()">Convert to GBP</button>
  </div>
</div>
